<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itrip.dao.hotel.HotelMapper">

    <select id="getHotelListByCityId" resultType="com.itrip.beans.pojo.Hotel">
        SELECT * FROM itrip_hotel
        WHERE cityId = #{cityId}
        LIMIT #{from},#{pageSize}
    </select>

    <select id="getHotelCountByCityId" resultType="int" parameterType="int">
        SELECT COUNT(1) FROM itrip_hotel
        WHERE cityId = #{cityId}
    </select>

</mapper>